body{
	background: url('bg website 2.jpg');
	color: #fff;
}

h1{
	color: white;
}
p {
	color: white;
}
p{ 
	border: 
	5px solid white  
}
p{
	margin:25px
	50px
	75px
	100px;
}
tr{
	color: white
}
tr{
	font= text-align:center;
}

table{
	margin: 25px
	50px
	75px
	100px;
}
img{
	margin:25px
	50px
	75px
	100px;
}
h2{
	margin: 25px
	50px
	75px
	100px;
}

