p{
	color: black;
}

p{
	border: 5px groove;
}
body {
	background-color: brown
}
p{ 
	margin:50px 50px 50px 100px;  
}
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
<h3 style="color:Tomato;">Hello World</h3>

